<!DOCTYPE html>
<html>
    <head>
        <title>{{ meta.title }}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="static/style.css" />
    </head>
    
    <body>
        <main>
            {{{ page }}}
        </main>
        <footer>
            <a href="./copyright.html">&copy;</a> 
            <a href="./about.html">(Author)</a>
            <span class="footer__nocss_divider"> &sdot; </span>
            <span class="footer__right">Build {{ buildtime }}</span>
        </footer>
    </body>
</html>