<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} &sdot; Rutherford Craze</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="static/style.css" />
        <link rel="stylesheet" href="static/fonts.css" />

        <script src="https://cdn.usefathom.com/script.js" data-site="BDHGAWSY" defer></script>
    </head>
    
    <body>
        <main>
            {{{ page }}}
        </main>
        <footer>
            <a href="/copyright.html">&copy;</a> <a href="/the-author.html">Rutherford Craze</a> &sdot; <a href="https://webring.xxiivv.com/">Webring</a>
        </footer>
    </body>
</html>